@charset "UTF-8";

body { 
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(183, 221, 255);
 }

.container { 
    max-width: 300px; 
    margin: 50px auto;
    position: relative;
    text-align: center;
    
 }

 button { 
    width: 50%; 
    margin: auto;
    padding: 10px;
    text-align: center;
    
}

input {
    width: 100%; 
    margin: auto;
    padding: 10px;
    
}

.error {
     color: red; 
    }